<div class="container_10">
    <div class="container_10_text_left">
      <div class="container_10_logo">
        <img src="/assets/Frame.svg" alt="">
      </div>
      <div class="container_10_contacts">
        <img src="/assets/Call_calling.svg" alt="">
        <span class="tel_contact">Контактный телефон</span>
      </div>
      <div class="contacts">
        <div class="tel_1"> 
          <a tel="+78123090934">+ 7 (812) 309-09-34</a>
        </div>
        <div class="tel_2">
          <a tel="+79650842909">+ 7 (965) 084-29-09</a>
        </div>
        <div class="nav_header_1_verh">
          <a email="">Главная</a>
          <a email="">О компании</a>
          <a email="">Каталог</a>
        </div>
        <div class="social_networks">
          <a email="">
            <img src="/assets/Facebook.svg" alt="">
          </a>
          <a email="">
            <img class="network_youtube" src="/assets/YouTub.svg" alt="">
          </a>
          <a email="">
            <img class="network_whatsapp" src="/assets/WhatsApp.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="container_10_header_right">
      <div class="container_10_emails">
        <img src="/assets/Email.svg" alt="">
        <span class="text_email_1">Электронная почта</span>
      </div>
      <div class="container_10_email_1">
        <a email="tustin78@mail.ru">tustin78&#64;mail.ru</a>
      </div>
      <div class="container_10_email_2">
        <a email="info@tustin.ru">info&#64;tustin.ru</a>
      </div>
    </div>
    <div class="container_10_text_right">
      <span class="questions">Остались вопросы?</span>
      <div class="container_10_text_2">Узнавайте первым о скидках, предложениях и событиях еженедельно в</div>
      <div class="container_10_text_3">своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши</div>
      <button class="email">
        <img class="letter" src="/assets/Letter.svg" alt="">
        <div class="email_text">Введите свою почту</div>
        <button class="to_send">
          <div class="text_button_button">Отправить</div>
        </button>
      </button>
      <div class="date">© 2021-2022, EDE</div>
    </div>
  </div>