.container_10 {
    height: 373px;
    background-color: #4b565e;
    display: flex;
    justify-content: space-between;
    padding: 0px 294px;
    color: #F6F6F6;
  }
  
  .container_10_text_left {
    margin-top: 40px;
  }
  
  .container_10_text_right {
    margin-top: 40px;
    
  }
  
  .questions {
    font-size: 18px;
    font-weight: 700;
    padding-right: 340px;
  }
  
  .container_10_text_2 {
    color: #A1A0A0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 20px;
  }
  
  .container_10_text_3 {
    color: #A1A0A0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 5px;
  
  }
  
  .email {
    width: 534px;
    height: 48px;
    background-color: #4b565e;
    border: none;
    color: #A1A0A0;
    border-radius: 30px;
    border: solid 1px #f0ba4e;
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  
  .letter {
    margin-left: 20px;
  }
  
  .email_text {
    margin-left: 10px;
  }
  
  .to_send {
    width: 94px;
    height: 36px;
    background-color: #f0ba4e;
    color: white;
    border-radius: 20px;
    border: none;
    margin-left: 221px;
  }
  
  .text_button_button {
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: 12.1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  
  
  
  
  .container_10_contacts {
    display: flex;
    align-items: center;
    margin-top: 30px;
    
  }
  
  .tel_contact {
    margin-left: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    color: #A1A0A0;
  }
  
  .contacts {
    margin-top: 10px
  }
  
  .tel_1 {
    margin-left: 37px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }
  
  .tel_2 {
    margin-left: 37px;
    margin-top: 10px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
  }
  
  .container_10_emails{
    display: flex;
    align-items: center;
    margin-right: 250px;
    
  }
  
  .container_10_header_right {
    margin-top: 115px;
  }
  
  .text_email_1 {
    margin-left: 15px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    color: #A1A0A0;
  }
  
  .container_10_email_1 {
    margin-left: 40px;
    margin-top: 10px;
  }
  
  .container_10_email_2 {
    margin-left: 40px;
    margin-top: 10px
  }
    
  .date {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #A1A0A0;
    margin-top: 105px;
    margin-left: 410px;
  }
  
  .nav_header_1_verh {
    display: flex;
    margin-top: 40px;
    gap: 28px;
  }
  
  
  .social_networks {
    width: 112px;
    height: 24px;
    margin-top: 70px
  
  }
  
  .network_youtube {
    margin-left: 20px;
  }
  
  .network_whatsapp {
    margin-left: 20px;
  }