<div class="container_1">
  <div class="header">
  <div class="header_left">
    <img src="/assets/Frame.svg" alt="" />
    <nav class="nav_left">
      <div class="nav_header_left">{{headeritem1}}</div>
      <div class="nav_header_left">{{headeritem2}}</div>
      <div class="nav_header_left">{{headeritem3}}</div>
    </nav>
  </div>
  <div class="header_right">
    <img class="phone" src="/assets/Phone.svg" alt="" />
    <div class="number">+7 (965) 084-29-29</div>
    <img class="heart" src="/assets/Vector.svg" alt="" />
    <button class="search">
      <img class="basket" src="/assets/Mask_group.svg" alt="" />
      <div class="pusto">Пусто</div>
    </button>
  </div>
  </div>
</div>

<div class="container_2">
  <div class="header-2">
  <div class="container_2_header_left">
    <img src="/assets/light.svg" alt="" />
    <nav class="nav_left_2">
      <div class="nav_container_2_left">{{header2item1}}</div>
      <div class="nav_container_2_left">{{header2item2}}</div>
      <div class="nav_container_2_left">{{header2item3}}</div>
      <div class="nav_container_2_left">{{header2item4}}</div>
      <div class="nav_container_2_left">{{header2item5}}</div>
    </nav>
  </div>
  <div class="container_2_header_right">
    <form class="input_search">
      <input
        class="container_2_right_search"
        type="search"
        placeholder="Поиск, например Круг зачистной"
      />
      <img
        class="container_2_right_magnifier"
        src="/assets/Search.svg"
        alt=""
      />
    </form>
    <img src="/assets/location.svg" alt="" />
    <div class="city">Москва</div>
  </div>
  </div>
</div>

<div class="container_3">
  <img class="men" src="/assets/Rectangle_5.png" alt="" />
</div>

<div class="container_4">
  <div class="container_4_left">
    <div><img src="/assets/Mask_group_1.svg" alt="" /></div>
    <div>
      <div class="container_4_text_left_1">Большой ассортимент</div>
      <div class="container_4_text_left_2">
        строительных материалов всегда в наличии
      </div>
    </div>
  </div>
  <div class="container_4_centr">
    <div><img src="/assets/car.svg" alt="" /></div>
    <div>
      <div class="container_4_text_centr_1">Доставка стройматериалов</div>
      <div class="container_4_text_centr_2">
        в течении четырех часов или в любое удобное время
      </div>
    </div>
  </div>
  <div class="container_4_right">
    <div><img src="/assets/laike.svg" alt="" /></div>
    <div>
      <div class="container_4_text_right_1">Многоуровневая система</div>
      <div class="container_4_text_right_2">
        управления качеством по стандарту ISO 9001
      </div>
    </div>
  </div>
</div>

<div class="container_6">
  <div class="container_6_header_left">
    <div class="container_6_header_left_text">
      Строительный отделочный инструмент
    </div>
    <div class="container_6_header_right_text">
      <span class="span">Перейти в каталог</span>
      <a>
        <img src="/assets/Frame_20.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="container_6_header_right">
    <div class="container_6_header_right_cards">
      <div class="enamel">
        <div class="container_6_header_text_enamel_1">Эмали</div>
        <div class="container_6_header_text_enamel_2">
          <span class="span">Перейти в каталог</span>
          <a>
            <img src="/assets/Frame_20.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="container_6_header_right_cards">
      <div class="paint">
        <div class="container_6_header_text_paint_1">
          Лакокрасочные материалы
        </div>
        <div class="container_6_header_text_paint_2">
          <span class="span">Перейти в каталог</span>
          <a>
            <img src="/assets/Frame_20.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="container_6_header_right_cards">
      <div class="sealants">
        <div class="container_6_header_text_sealants_1">
          Пены, клеи и герметики
        </div>
        <div class="container_6_header_text_sealants_2">
          <span class="span">Перейти в каталог</span>
          <a>
            <img src="/assets/Frame_20.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="container_6_header_right_cards">
      <div class="rosettes">
        <div class="container_6_header_text_rosettes_1">
          Розетки и выключатели
        </div>
        <div class="container_6_header_text_rosettes_2">
          <span class="span">Перейти в каталог</span>
          <a>
            <img src="/assets/Frame_20.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_7">
  <div class="container_7_verh">
    <div class="container_7_verh_left">Популярные товары</div>
    <div class="container_7_verh_right">Посмотреть все товары</div>
  </div>
  <div class="container_7_niz">
    <div class="container_7_cards">
      <div class="container_krug_1">
        <div class="discount_button_1">
          <button class="discount_1">
            <img src="/assets/discound.svg" alt="" />
          </button>
          <img src="/assets/heart_button_1.svg" alt="" />
        </div>
        <div class="description_1">Круг зачистной 125х6х22</div>
        <div class="article_number">Артикул 00004</div>
        <div class="price_1">
          <div class="card_price_1">Цена за штуку</div>
          <div class="mani_1">
            <div class="mani_rub_1">52 руб.</div>
            <div class="mani_rub_2">48 руб.</div>
          </div>
        </div>
        <div class="quantity_1">
          <div class="button_niz_right">
            <div class="card_1_quantity">
              Количество
              <div class="number_of_goods">
                <div>-</div>
                <div>1</div>
                <div>+</div>
              </div>
            </div>
            <div>
              <button class="add_to_cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_7_cards">
      <div class="container_krug_2">
        <div class="discount_button_1">
          <button class="discount_1">
            <img src="/assets/discound.svg" alt="" />
          </button>
          <img src="/assets/heart_button_1.svg" alt="" />
        </div>
        <div class="description_1">Круг зачистной 125х6х22</div>
        <div class="article_number">Артикул 00004</div>
        <div class="price_1">
          <div class="card_price_1">Цена за штуку</div>
          <div class="mani_1">
            <div class="mani_rub_1">52 руб.</div>
            <div class="mani_rub_2">48 руб.</div>
          </div>
        </div>
        <div class="quantity_1">
          <div class="button_niz_right">
            <div class="card_1_quantity">
              Количество
              <div class="number_of_goods">
                <div>-</div>
                <div>1</div>
                <div>+</div>
              </div>
            </div>
            <div>
              <button class="add_to_cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_7_cards">
      <div class="container_krug_3">
        <div class="discount_button_1">
          <!-- <button class="card_3_discount_button">
            <img src="/assets/discound.svg" alt="">
          </button> -->
          <button class="card_3_nev_1">Новинка</button>
          <img src="/assets/heart_button_1.svg" alt="" />
        </div>
        <button class="card_3_button">
          <img src="/assets/discound.svg" alt="">
        </button>
        <div class="description_3">Круг зачистной 125х6х22</div>
        <div class="article_number">Артикул 00004</div>
        <div class="price_1">
          <div class="card_price_1">Цена за штуку</div>
          <div class="mani_1">
            <div class="mani_rub_1">52 руб.</div>
            <div class="mani_rub_2">48 руб.</div>
          </div>
        </div>
        <div class="quantity_1">
          <div class="button_niz_right">
            <div class="card_1_quantity">
              Количество
              <div class="number_of_goods">
                <div>-</div>
                <div>1</div>
                <div>+</div>
              </div>
            </div>
            <div>
              <button class="add_to_cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container_7_cards">
      <div class="container_krug_4">
        <div class="discount_button_1">
          <button class="card_4_nev_2">Новинка</button>
          <img src="/assets/heart_button_1.svg" alt="" />
        </div>
        <div class="description_4">Круг зачистной 125х6х22</div>
        <div class="article_number">Артикул 00004</div>
        <div class="price_1">
          <div class="card_price_1">Цена за штуку</div>
          <div class="mani_1">
            <!-- <div class="mani_rub_1">52 руб.</div> -->
            <div class="mani_rub_2">52 руб.</div>
          </div>
        </div>
        <div class="quantity_1">
          <div class="button_niz_right">
            <div class="card_1_quantity">
              Количество
              <div class="number_of_goods">
                <div>-</div>
                <div>1</div>
                <div>+</div>
              </div>
            </div>
            <div>
              <button class="add_to_cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_8">
  <div class="banner_2_men_right">
    <div class="banner_2_text_verh">
      <span class="banner_2_names_goods">БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</span>
      <div class="banner_2_tool">Инструмент для вашего бизнеса, разнообразных марок</div>
      <div class="banner_2_text_niz">
        <a class="banner_2_catalog">Перейти в каталог</a>
      </div>
    </div>
  </div>
</div>

<div class="container_9">
  <div class="container_9_text">
    <div class="container_9_text_left">Новинки</div>
    <div class="container_9_text_right">Посмотреть все товары</div>
  </div>
  <div class="container_9_verh">
    <div class="container_9_niz">
      <div class="container_9_krug">
        <div class="container_krug_4">
          <div class="discount_button_1">
            <button class="card_4_nev_2">Новинка</button>
            <img src="/assets/heart_button_1.svg" alt="" />
          </div>
          <div class="description_1">Круг зачистной 125х6х22</div>
          <div class="article_number">Артикул 00004</div>
          <div class="price_1">
            <div class="card_price_1">Цена за штуку</div>
            <div class="mani_1">
              <!-- <div class="mani_rub_1">52 руб.</div> -->
              <div class="mani_rub_2">52 руб.</div>
            </div>
          </div>
          <div class="quantity_1">
            <div class="button_niz_right">
              <div class="card_1_quantity">
                Количество
                <div class="number_of_goods">
                  <div>-</div>
                  <div>1</div>
                  <div>+</div>
                </div>
              </div>
              <div>
                <button class="add_to_cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container_9_krug">
        <div class="container_krug_4">
          <div class="discount_button_1">
            <button class="card_4_nev_2">Новинка</button>
            <img src="/assets/heart_button_1.svg" alt="" />
          </div>
          <div class="description_1">Круг зачистной 125х6х22</div>
          <div class="article_number">Артикул 00004</div>
          <div class="price_1">
            <div class="card_price_1">Цена за штуку</div>
            <div class="mani_1">
              <!-- <div class="mani_rub_1">52 руб.</div> -->
              <div class="mani_rub_2">52 руб.</div>
            </div>
          </div>
          <div class="quantity_1">
            <div class="button_niz_right">
              <div class="card_1_quantity">
                Количество
                <div class="number_of_goods">
                  <div>-</div>
                  <div>1</div>
                  <div>+</div>
                </div>
              </div>
              <div>
                <button class="add_to_cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container_9_krug">
        <div class="container_krug_4">
          <div class="discount_button_1">
            <button class="card_4_nev_2">Новинка</button>
            <img src="/assets/heart_button_1.svg" alt="" />
          </div>
          <div class="description_1">Круг зачистной 125х6х22</div>
          <div class="article_number">Артикул 00004</div>
          <div class="price_1">
            <div class="card_price_1">Цена за штуку</div>
            <div class="mani_1">
              <!-- <div class="mani_rub_1">52 руб.</div> -->
              <div class="mani_rub_2">52 руб.</div>
            </div>
          </div>
          <div class="quantity_1">
            <div class="button_niz_right">
              <div class="card_1_quantity">
                Количество
                <div class="number_of_goods">
                  <div>-</div>
                  <div>1</div>
                  <div>+</div>
                </div>
              </div>
              <div>
                <button class="add_to_cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container_9_krug">
        <div class="container_krug_4">
          <div class="discount_button_1">
            <button class="card_4_nev_2">Новинка</button>
            <img src="/assets/heart_button_1.svg" alt="" />
          </div>
          <div class="description_1">Круг зачистной 125х6х22</div>
          <div class="article_number">Артикул 00004</div>
          <div class="price_1">
            <div class="card_price_1">Цена за штуку</div>
            <div class="mani_1">
              <!-- <div class="mani_rub_1">52 руб.</div> -->
              <div class="mani_rub_2">52 руб.</div>
            </div>
          </div>
          <div class="quantity_1">
            <div class="button_niz_right">
              <div class="card_1_quantity">
                Количество
                <div class="number_of_goods">
                  <div>-</div>
                  <div>1</div>
                  <div>+</div>
                </div>
              </div>
              <div>
                <button class="add_to_cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container_10">
  <div class="container_10_text_left">
    <div class="container_10_logo">
      <img src="/assets/Frame.svg" alt="">
    </div>
    <div class="container_10_contacts">
      <img src="/assets/Call_calling.svg" alt="">
      <span class="tel_contact">Контактный телефон</span>
    </div>
    <div class="contacts">
      <div class="tel_1"> 
        <a tel="+78123090934">+ 7 (812) 309-09-34</a>
      </div>
      <div class="tel_2">
        <a tel="+79650842909">+ 7 (965) 084-29-09</a>
      </div>
      <div class="nav_header_1_verh">
        <a email="">Главная</a>
        <a email="">О компании</a>
        <a email="">Каталог</a>
      </div>
      <div class="social_networks">
        <a email="">
          <img src="/assets/Facebook.svg" alt="">
        </a>
        <a email="">
          <img class="network_youtube" src="/assets/YouTub.svg" alt="">
        </a>
        <a email="">
          <img class="network_whatsapp" src="/assets/WhatsApp.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="container_10_header_right">
    <div class="container_10_emails">
      <img src="/assets/Email.svg" alt="">
      <span class="text_email_1">Электронная почта</span>
    </div>
    <div class="container_10_email_1">
      <a email="tustin78@mail.ru">tustin78&#64;mail.ru</a>
    </div>
    <div class="container_10_email_2">
      <a email="info@tustin.ru">info&#64;tustin.ru</a>
    </div>
  </div>
  <div class="container_10_text_right">
    <span class="questions">Остались вопросы?</span>
    <div class="container_10_text_2">Узнавайте первым о скидках, предложениях и событиях еженедельно в</div>
    <div class="container_10_text_3">своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши</div>
    <button class="email">
      <img class="letter" src="/assets/Letter.svg" alt="">
      <div class="email_text">Введите свою почту</div>
      <button class="to_send">
        <div class="text_button_button">Отправить</div>
      </button>
    </button>
    <div class="date">© 2021-2022, EDE</div>
  </div>
</div>
  
